:root {
  --primary-color: #141616;
  --secondary-color: #fff;
  --third-color: #60168e;
  --button-hover: rgba(96, 22, 142, 0.5);
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Lato", sans-serif;
}

body {
  background-image: url("./assets/bg-main-dark-800w.jpg");
  color: var(--secondary-color);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
button {
  background-color: var(--third-color);
}
h1,
h2 {
  color: var(--secondary-color);
  text-align: center;
  font-family: var(--primary-font);
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}

p,
li,
input {
  font-size: 1em;
  font-family: var(--secondary-font);
}
